<div class="container">
  <div class="row">

    <div class="col-sm-6 col-xs-12">
      <div class="portfoliocard ">
        <div class="coverphoto"></div>
        <div class="left_col">
          <div class="followers">
            <h4>
              Reviews:
            </h4>
            <div class="follow_count"><%= @profile.user.reviews.size %></div>
            Written
          </div>
          <div class="following">
            <div class="follow_count"><%= @profile.user.review_ratings.size %></div>
            Reviewed
          </div>
        </div>
        <div class="right_col">
          <h2 class="name"><%= @profile.username %></h2>
          <br><br>
          <h3 class="location"><%=  @profile.country.capitalize  %> </h3>
          <ul class="contact_information">
          <li class="work">Vegan Critic</li>
          <li class="info"> <%= @profile.first_name + " " + @profile.last_name%> </li>
          </ul>
          <%= link_to 'Edit profile', edit_profile_path(@profile), class: 'btn vegan-btn', style: "    margin-top: 10%; margin-left: 25%;" %>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="profile-scrollbox">
        <% @profile.user.reviews.each do |review| %>
        <div class="recent-activity">
          <%= link_to movie_review_path(review.movie, review) do %>
          <div class="product">
            <div class='product-body'>
              <h3 style="color: black;">
                <%= review.movie.title %>
              </h3>
              <%= review.approved ? "" : "Waiting for approval" %>
              <p>
                <%= review.title %> @ <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %> has been rated <%= review.review_ratings.size %> times!
                <%= review.review_rating ? review.review_rating : 'Not rated yet' %> <div style="color: green" class='fa fa-star'></div>
              </p>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
