<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-sm-offset-3">
      <h2>
        Hi, <%= @profile.username %>
      </h2>
    </div>
    <div class="row">

      <div class="col-sm-3 col-sm-offset-2 col-xs-12">
        <h3>
          Profile information
        </h3>
        <h4>
          <%= @profile.first_name + " " +  @profile.last_name %>
          <br>
          <%= @profile.info %>
          <br>
          <%= @profile.country %>
          <br>
          You have contributed <%= @profile.user.reviews.size %> reviews
          so far!
        </h4>
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class: 'btn vegan-btn' %>
      </div>

      <div class="recent-activity">
        <div class="col-sm-6 col-xs-12">
          <h3>
            Recent Activity
          </h3>
          <% @profile.user.reviews.each do |r| %>
          <ul>
            <%= r.movie.title %>
            <li>
              <h4>
                <%= r.title %> @ <%= r.created_at.strftime('%A, %d %b %Y %l:%M %p') %> has been rated <%= r.review_ratings.size %> times!
                <%= r.review_rating ? r.review_rating : 'Not rated yet' %> <div class='fa fa-star'></div>
              </h4>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
