<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= form_for (@profile) do |f| %>
      <div class="row">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control input-lg edit-input title-form"%>
      </div>
      <div class="row">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control input-lg edit-input title-form" %>
      </div>
      <div class="row">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control input-lg edit-input title-form" %>
      </div>
      <div class="row">
        <%= f.label :country %>
        <%= f.text_field :country, class: "form-control input-lg edit-input title-form" %>
      </div>
      <div class="row">
        <%= f.label :info %>
        <%= f.text_area :info, class: "form-control input-lg edit-input title-form" %>
      </div>
      <div class="row">
      <div class="col-sm-6 sm-offset-6">
        <%= f.submit "Update profile", class: 'btn vegan-btn' %>
        <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
