<div class="container" id="partial-container">
  <div class="row">
    <div class="col-xs-4">
      <div class="movie-info">
        <div class="movie-poster">
          <%= image_tag "#{movie.imdb_poster ? movie.imdb_poster : movie.poster }", class: "movie-poster"  %>
        </div>
        <div class="grey-background padding-top-20">
          <div class="movie-title">
            <p>
              Rating of the movie: <%= movie.rating %> <i class="fa fa-star red-star" aria-hidden="true"> </i> out of <%= pluralize movie.reviews.size, 'review'  %>
            </p>
          </div>

          <div class="movie-info-box">
            <%= movie.plot  %>
            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-8">
      <% if review %>
      <div class= "card grey-background card-outline-primary mb-3 text-center">
        <div class= "card-header">
          <h3>
            <%= review.title %>
          </h3>
        </div>
        <div class="card-block">
          <div class="card-text">
            <blockquote class="card-blockquote">
              <p>
                <%= raw review.content %>
              </p>
              <footer>
                <cite>
                  Review's rating of the movie: <%= review.rating.to_f / 2 %> <i class="fa fa-star" style="color: green;" aria-hidden="true"> </i>
                  <br>
                  <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
                  <br>
                   by <%= review.user.profile ? review.user.profile.username : review.user.email %>
                </cite>
              </footer>
            </blockquote>
          </div>
        </div>
        <%= render 'review_ratings/review_rating', review: review, movie: movie, review_rating: review_rating %>
        <div class="card-btns">
          <% if current_user %>
          <% if policy(review).update? %>
          <%= link_to ' - Edit review', edit_movie_review_path(movie, review), class: "btn vegan-btn fa fa-eraser"  %>
          <% end %>
          <% if policy(review).destroy? %>
          <%= link_to 'Delete', movie_review_path(movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
          <% end %>
          <%= link_to 'Add a review', new_movie_review_path(movie), class: "btn vegan-btn" %>
          <% end %>
          <% if movie.times_reviewed > 1 %>
            <%= link_to 'More reviews', movie_path(movie), class: "btn vegan-btn" %>
          <% end %>
        </div>
      </div>
    </div>
    <% unless review.artwork.url.nil? || review.artwork.url == ""  %>
      <div class="background-value" data-hidden="linear-gradient(27deg, #D3D0CD 10%, rgba(150,150,150,0.7) 41%, rgba(  0,0,0,0.25) 100%), url(<%= review.artwork.url %>)">
      </div>
    <% else %>
      <div class="background-value" data-hidden="">
      </div>
    <% end %>

    <% else %>

    <p style="padding: 100px;">
      No reviews yet! <br>
      Be the first to leave one <%= link_to 'Leave a review', new_movie_review_path(movie), class: "btn vegan-btn"  %>
    </p>
    <% end %>
  </div>
</div>
