<div class="container">
  <div class="row">
    <div class="new-movie-select">
      <div class="col-xs-12 text-center">

        <h3>
          Add a custom movie
        </h3>

        <%= form_for @movie, :url => { :action => "custom_create" }, :html => { :method => "post" } do |f| %>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :title, placeholder: "Movie title", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <p> When was the movie released? Only contemporary movies allowed!</p>
          <div class="col-xs-12 text-center">
            <%= f.date_field :released, class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :actors, placeholder: "Add some of the cast here", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :genre, placeholder: "Which genre?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :runtime, placeholder: "How many minutes?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
          <p>Add a poster</p>
          <!-- TODO: Simpelweg een URL voor een plaatje invoeren ipv het plaatje uploaden -->
          <%= f.file_field :poster %>
          <%= f.hidden_field :poster_cache %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :country, placeholder: "From which country is the movie?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.submit :Thanks!, class: 'btn vegan-btn' %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
