<div class="container">
  <div class="row">
    <div class="new-movie-select">
      <div class="col-xs-12">

        <h3>
          Add a custom movie
        </h3>

        <%= form_for @movie, :url => { :action => "custom_create" }, :html => { :method => "post" } do |f| %>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :title, placeholder: "Movie title", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <!-- TODO: Change format date field to dd-mm-yyyy -->
            <%= f.label :released, "When was the movie released? Only contemporary movies allowed!"%>
            <%= f.date_field :released, class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :actors, placeholder: "Add some of the cast here", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :genre, placeholder: "Which genre?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :runtime, placeholder: "How many minutes?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <span class="btn btn-success fileinput-button">
              <span>Add a poster</span>
              <%= f.file_field :poster, class: "text-center", id: 'artwork-input' %>
              <%=  f.hidden_field :poster_cache %>
            </span>
            <span id="selected-artwork"></span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <%= f.text_field :imdb_poster, placeholder: "Or add a url, this one will get precedence if you do both!", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :country, placeholder: "From which country is the movie?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.submit :Next, class: 'btn vegan-btn' %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
