<div class="container">
  <div class="row">
    <div class="new-movie-select">
      <div class="col-xs-12 text-center">

        <h3>
          We couldnt find your movie, we hope you dont mind adding it to your database. Thanks a million!
        </h3>

        <%= form_for @movie, :url => { :action => "custom_create" }, :html => { :method => "post" } do |f| %>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :title, placeholder: "Add your title here", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <p> When was the movie released? Only contemporary movies allowed!</p>
          <div class="col-xs-12 text-center">
            <%= f.date_field :released, class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :actors, placeholder: "Add some of the cast here", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :genre, placeholder: "What genre?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :runtime, placeholder: "What is the runtime?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
          <%= f.text_field :poster, placeholder: "Here you can add an url to a movie", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.text_field :country, placeholder: "From what country is the movie?", class: "form-control input-lg edit-input" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <%= f.submit :Thanks!, class: 'btn vegan-btn' %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
