<%= render 'shared/archivenavbar'  %>
<section class='selector container-background' id='<%= @active %>'
<% unless @review.artwork.url.nil? || @review.artwork.url == ""  %>
  style="background: linear-gradient(27deg, #D3D0CD 10%, rgba(150,150,150,0.7) 41%, rgba(  0,0,0,0.25) 100%), url(<%= @review.artwork.url %>); background-size: cover;"
<% end %>
>

    <div class="container-fluid">
      <div class="row padding-top-20">

       <%= render 'shared/scrollbox', movies: @movies  %>

       <div class="col-xs-6 hidden-xs">
        <div class="review-index">
          <div class="content-review-index">
            <%= render 'movie', movie: @movie, review: @review, user: @user, review_rating: @review_rating %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


