
<div class="navbar-wagon">
  <!-- Logo -->



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Notification -->


    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "/admin" do %>
            <i class="fa fa-lock"></i>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% else %>

    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
    <%= link_to t(".top_call_to_action", default: "Alphabetical"), movies_alphabetical_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <%= link_to t(".top_call_to_action", default: "Rated"), movies_rated_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Newest"), movies_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/movies/pending">Pending</a></li>
        <li><a href="/movies/rated">Rated</a></li>
        <li><a href="/movies/archives">Archive</a></li>
        <li><a href="/movies/newest"> Newest</a></li>
        <li><a href="/movies/new"> Add A Review! </a></li>
        <li><a href="/admin"> Admin Panel</a></li>
      </ul>
    </div>
  </div>

  <form action="" class="navbar-wagon-search">
    <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
    <button type="submit" class="navbar-wagon-search-btn">
      <i class="fa fa-search"></i>
    </button>
  </form>

</div>


<div class="container">
  <h2>
    Archive
  </h2>
  <div class="row">

    <div class="visible-xs-block xs-12">
    <div class="scrollbox-small">
      <div class="list">
        <% @movies.each do |movie| %>
        <div class="list-item">
          <%= link_to "#{movie.title}", movie_path(movie), class: "" %>
        </div>
        <% end %>
      </div>
     </div>
   </div>

    <div class="col-sm-3 hidden-xs">
      <div class="scrollbox">
        <div class="list">
          <% @movies.each do |movie| %>
          <div class="list-item">
           <%= link_to "#{movie.title}", movie_path(movie), class: "click-btn" %>
         </div>
         <% end %>
       </div>
     </div>
   </div>

   <div class="col-xs-6 hidden-xs">
     <div class="review-index">
      <div class="content-review-index">
      </div>
    </div>
  </div>
</div>





</div>
