

<h1 class="text-center">
 Our latest Reviews!
</h1>
<div class="container">
 <div class="row">
   <% @newest_reviews.each do |review| %>
   <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="text-center">
        <h3>
          Movie: <%= review.movie.title %> <br>
          Title:  <%= review.title %>,
        </h3>
        Rating: <%= review.rating %>
        <p>
          Username: <%= review.user.username   %>
        </p>
        <div class="card-content">
          <p>
            <%= review.content[0..100] %> ...
          </p>
        </div>
        <div class="card-btns">
          <%= link_to "See this review!", movie_review_path(review.movie, review), class: "btn vegan-btn" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
