<section id='newest' class='selector'>
<div class="container">
 <div class="row">
   <% @newest_reviews.each do |review| %>
   <div class="col-xs-12 ">
    <div class="card">
      <div class="text-center">
        <h3>
          <%= review.movie.title %>
        </h3>
        <p>
         by <%= review.user.profile ? review.user.profile.username : review.user.email %>
        </p>
        <h5>
        <strong>
        <%= review.title  %>
          </strong>
        </h5>
        <div class="card-content">
          <p>
            <%=raw review.content %>
          </p>
          <br>
          <div class="fa fa-star"></div> <%= review.rating.to_f / 2  %>
          <br>
          <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
        </div>
        <div class="card-btns">
          <%= link_to "See more", movie_review_path(review.movie, review), class: "btn vegan-btn" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</section>
