<section id='newest' class='selector'>
<div class="container">
 <div class="row">
   <% @newest_reviews.each do |review| %>
   <div class="col-xs-12 col-sm-6">
    <div class="card">
      <div class="text-center">
        <h3>
          <%= review.title %>,
        </h3>
        <p>
        </p>
        <div class="card-content">
          <p>
            <%=raw review.content[0..100] %>
          </p>
          By: <%= review.user.username ? review.user.username : review.user.email   %>
          <br>
          Rating: <%= review.rating %>
          <br>
          <strong> <%= review.movie.title  %>
          </strong>
          <br>
          <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
        </div>
        <div class="card-btns">
          <%= link_to "See more", movie_review_path(review.movie, review), class: "btn vegan-btn" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</section>
