<div class="container" id="partial-container">
  <div class="row">

    <div class="col-xs-4">
      <div class="movie-info">
        <div class="movie-title">
          <h1>
            <%= @movie.title  %>
          </h1>
          <p>
            <%= @movie.user_rating.to_f / 2 %> <i class="fa fa-star" aria-hidden="true"> </i> out of <%= @movie.reviews.size %> reviews!
          </p>
        </div>

        <div class="movie-info-box">
          <%= @movie.plot  %>
          <br>
          <div class="movie-poster">
            <%= image_tag "#{@movie.poster}", class: "movie-poster"  %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <% if @review.present? %>
      <div class= "card card-outline-primary mb-3 text-center">
        <div class= "card-header">
          <h3>
            <%= @review.title %>
          </h3>
        </div>
        <div class="card-block">
          <div class="card-text">
            <blockquote class="card-blockquote">
              <p>
                <%=raw @review.content %>
              </p>
              <footer>
                <cite>
                  <%= @review.rating %> <i class="fa fa-star" aria-hidden="true"> </i>
                  <%= @review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
                </cite>
              </footer>
            </blockquote>
          </div>
        </div>

        <% if @review.has_rated.include?(@user) && @review_rating.rating %>
        <div>
          <p>
            You gave this review
            <%= @review_rating.rating / 2 %>
            <i class="fa fa-star" aria-hidden="true">  </i>
          </p>
            Users rating <%= @review.set_rating.to_f / 2 %> <i class="fa fa-star" aria-hidden="true">  </i>
        </div>
        <% else %>
        <div class="row">
          <div class="card-rating center-block">
            <p> Rate this review</p>
            <%= render 'shared/star-rating' %>
          </div>
        </div>
        <% end %>
        <div class="card-btns">
          <% if policy(@review).update? %>
          <%= link_to 'Edit review', edit_movie_review_path(@movie, @review), class: "btn vegan-btn"  %>
          <% end %>
          <% if policy(@review).destroy? %>
          <%= link_to 'Delete', movie_review_path(@movie, @review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
          <% end %>
          <%= link_to 'Add a review', new_movie_review_path(@movie), class: "btn vegan-btn" %>
          <%= link_to 'More reviews', movie_path(@movie), class: "btn vegan-btn" %>
        </div>
      </div>
    </div>


    <% else %>

    <p style="padding: 100px;">
      No reviews yet! <br>
      Be the first to leave one <%= link_to 'Leave a review', new_movie_review_path(@movie), class: "btn vegan-btn"  %>
    </p>
    <% end %>
  </div>
</div>
