<div class="container">
  <div class="row">
    <div class="col-xs-5">

      <% if @review %>

      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-header">
          <h3>
            <%= @review.title %>
          </h3>
        </div>
        <div class="card-block">
        <div class="card-text">
          <blockquote class="card-blockquote">
            <p>
              <%= @review.content %>
            </p>
            <footer>
              <cite>
                rated: <%= @review.rating %>
              </cite>
            </footer>
          </blockquote>
        </div>
        </div>

        <div class="card-rating">

          <% if @review.has_rated %>
          review rating: <%= @review.user_rating  %>
          <% else %>
          <%= form_for @review_rating do |f|%>

          <%= f.hidden_field :review, value: @review.id %>

          <%= f.label :rating %>
          <%= f.select :rating, [1,2,3,4,5] %>

          <%= f.submit "Submit" %>
          <% end %>
          <% end %>
        </div>

        <div class="card-btns">
          <% if policy(@review).update? %>
          <%= link_to 'Edit Review', edit_movie_review_path(@movie, @review), class: "btn vegan-btn"  %>
          <% end %>
          <% if policy(@review).destroy? %>
          <%= link_to 'Delete', movie_review_path(@movie, @review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
          <% end %>
          <%= link_to 'More Reviews', movie_path(@movie), class: "btn vegan-btn" %>
        </div>
        <% else %>
        <p> No Reviews Yet!</p>
        <% end %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="movie-info">
        <div class="movie-title">
          <h1>
            <%= @movie.title  %>
          </h1>
          <p>
            users rating: <%= @movie.user_rating %>
          </p>
        </div>

        <div class="movie-info-box">
          <%= @movie.plot  %>
          <br>
          <div class="movie-poster">
            <%= image_tag "#{@movie.poster}", class: "movie-poster"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
