<div class="container">
  <div class="row">
    <div class="pending-reviews text-center">
      <h2>
        Dear God among men, there are <%= @pending_reviews.size  %> reviews pending your approval.
      </h2>
    </div>
  </div>
  <div class="row">
   <% @pending_reviews.each do |review| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <div class="text-center">
          <h3>
            Movie: <%= review.movie.title %> <br>
            Title:  <%= review.title %>,
          </h3>
            Rating: <%= review.rating %>
          <p>
            Username: <%= review.user.username   %>
            <br>
            <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
          </p>
          <div class="card-content">
            <p>
              <%= review.content[0..100] %> ...
            </p>
          </div>
          <div class="approve-btn">
            <%= link_to 'I Approve!', movies_pending_approve_path(review), class: "btn vegan-btn"  %>
            <%= link_to 'Hell no', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

