<div class="container">
  <div class="row">
    <div class="pending-reviews">
      <h2>
        Dear God among men, there are <%= @pending_reviews.size  %> reviews pending your approval.
      </h2>
    </div>
  </div>
  <div class="row">
      <%  @pending_reviews.each do |review| %>
    <div class="col-sm-6 col-xs-12 ">
      <div class="card">
        <div class="card-background">
          <div class="card-title">
            <h3>
              <%= review.title %>,
            </h3>
            rated: <%= review.rating %>
            <p>
              by <%= review.user.email   %>
            </p>
          </div>
          <div class="card-content">
            <p>
              <%= review.content %>
            </p>
          </div>
          <div class="approve-btn">
            <%= link_to 'I Approve!', movies_pending_approve_path(review), class: "btn btn-primary"  %>
            <%= link_to 'Hell no', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
