
<div class="col-xs-12 text-center">
  <div class="movie-title">
    <h1>
      <%= @movie.title  %>
    </h1>
  </div>
</div>
<div class="container">

  <% @movie.reviews.each_with_index do |review, i| %>

  <% if i == 0   %>
  <div class="next-method">
    <div class="row">
      <div class="col-xs-12 col-sm-5 text-right hidden-xs">
        <%= image_tag "#{@movie.poster}", class: "poster-info-box "  %>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="card-info text-left">
          <h3>
            Title:  <%= review.title %>,
          </h3>
          Rating: <%= review.rating %>
          <p>
            Username: <%= review.user.username   %>
            <br>
            <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">

        <div class="card-content-show">
          <p>
            <%= review.content %>
          </p>
        </div>

        <div class="card-rating">
        <%= render 'shared/star-rating' %>
        </div>
        <div class="col-xs-12">
          <div class="card-btns center-block">
            <% if policy(review).update? %>
            <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: "btn vegan-btn"  %>
            <% end %>
            <% if policy(review).destroy? %>
            <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>


  <% else  %>

  <div class="next-method hidden">
    <div class="row">
      <div class="col-xs-12 col-sm-5 text-right hidden-xs">
        <%= image_tag "#{@movie.poster}", class: "poster-info-box "  %>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="card-info text-left">
          <h3>
            Title:  <%= review.title %>,
          </h3>
          Rating: <%= review.rating %>
          <p>
            Username: <%= review.user.username   %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">

        <div class="card-content-show">
          <p>
            <%= review.content %>
          </p>
        </div>

        <div class="card-rating">

          <% if review.has_rated %>
          review rating: <%= review.set_rating  %>
          <% else %>
          <%= form_for @review_rating do |f|%>

          <%= f.hidden_field :review, value: review.id %>

          <%= f.label :rating %>
          <%= f.select :rating, [1,2,3,4,5] %>

          <%= f.submit "Submit" %>
          <% end %>
          <% end %>
        </div>
        <div class="col-xs-12">
          <div class="card-btns center-block">
            <% if policy(review).update? %>
            <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: "btn vegan-btn"  %>
            <% end %>
            <% if policy(review).destroy? %>
            <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
  <% end %>

  <button class="next-btn pull-right"> <i class="fa fa-arrow-right fa-5x"></i> </button>
  <button class="prev-btn pull-left">  <i class="fa fa-arrow-left fa-5x"></i> </button>


</div>



