  <div class="container">
    <div class="row">
     <div class="col-md-6">
      <div class="movie-info">
        <h1 id="movie-title">
          <%= @movie.title %>
        </h1>
        <div class=movie-ratings>
          <p>
            Vegan Movie Critic Rating : <%=  @movie.rating %>
            <br>
            User Rating: <%= @movie.user_rating  %>
          </p>
        </div>
      </div>


      <% @movie.reviews.each do |review| %>
      <div class="card">
        <div class="card-background">
          <div class="card-title">
            <h3>
              <%= review.title %>,
            </h3>
              rated: <%= review.rating %>
            <p>
              by <%= review.user.email   %>
            </p>
          </div>

          <div class="card-content">
            <p>
              <%= review.content %>
            </p>
          </div>

          <div class="card-rating">

            <% if review.has_rated %>
            review rating: <%= review.user_rating  %>
            <% else %>
            <%= form_for @review_rating do |f|%>

            <%= f.hidden_field :review, value: review.id %>

            <%= f.label :rating %>
            <%= f.select :rating, [1,2,3,4,5] %>

            <%= f.submit "Submit" %>
            <% end %>
            <% end %>
          </div>

        </div>


      <div class="card-btns">
        <% if policy(review).update? %>
        <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: "btn btn-primary"  %>
        <% end %>
        <% if policy(review).destroy? %>
        <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        <% end %>
      </div>
      </div>
      <% end %>

      <button class="next-button"> Next </button>



<div class="col-xs-9">
      <div class="edit-btns">
        <% if policy(Review.new).create? %>
        <%= link_to 'Add Review', new_movie_review_path(@movie), class: "btn bn-primary" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

