<div class="container">
  <div class="col-xs-12 text-center">
    <div class="movie-title">
      <h1 class="">
        <%= @movie.title  %>
      </h1>
    </div>
  </div>

  <% @reviews.each_with_index do |review, i| %>
    <% content_for :background do  %>
      <%= review.artwork if review.artwork %>
    <% end %>
  <% if @movie.reviews.empty? %>
  <%= link_to 'Add a review', new_movie_review_path(@movie), class: "btn vegan-btn" %>
  <% end %>
  <% if i == 0 %>

  <div class="next-method current-element">
    <div class="row">
      <div class="col-xs-12 col-sm-5 text-right hidden-xs">
        <%= image_tag "#{@movie.poster}", class: "poster-info-box "  %>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="card-info text-left">
          <h3>
            <%= review.title %>
          </h3>
          <%= @movie.genre %>
          <br>
          <%= @movie.actors %>
          <br>
          <%= review.rating.to_f / 2 %> <div class="fa fa-star"></div>
          <p>
            <br>
            Reviewed on
            <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
            <% if review.user.username %>
            By <%= review.user.username   %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">

        <div class="card-content-container">
          <div class="review-content">
            <%=raw review.content %>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="card-btns center-block">
            <% if current_user %>
            <% if policy(review).update? %>
            <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: "btn vegan-btn"  %>
            <% end %>
            <% if policy(review).destroy? %>
            <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
            <% end %>
            <%= link_to 'Add a review', new_movie_review_path(@movie), class: "btn vegan-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


    <% if @reviews.size > 1 %>
    <% if i + 1 != @reviews.size %>
    <button class="next-btn pull-right">
      <%= i + 1%> of <%= @reviews.size  %> <i class="fa fa-arrow-right fa-5x"></i>
    </button>
    <% end %>

    <% if i != 0 %>
    <button class="prev-btn pull-left">  <i class="fa fa-arrow-left fa-5x"></i> </button>
    <% end %>
    <% end %>

  </div>

  <% else  %>

  <div class="next-method hidden">
   <div class="row">
    <div class="col-xs-12 col-sm-5 text-right hidden-xs">
      <%= image_tag "#{@movie.poster}", class: "poster-info-box "  %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="card-info text-left">
        <h3>
          <%= review.title %>
        </h3>
        <%= @movie.genre %>
        <br>
        <%= @movie.actors %>
        <br>
        <%= review.rating.to_f / 2 %> <div class="fa fa-star"></div>
        <p>
          <br>
          Reviewed on
          <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
          <% if review.user.username %>
          By <%= review.user.username   %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">

      <div class="card-content-container">
        <div class="review-content">
          <%=raw review.content %>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="card-btns center-block">
          <% if current_user %>
            <% if policy(review).update? %>
              <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: "btn vegan-btn"  %>
            <% end %>
            <% if policy(review).destroy? %>
              <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
            <% end %>
          <%= link_to 'Add a review', new_movie_review_path(@movie), class: "btn vegan-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @reviews.size > 1 %>
    <% if i + 1 != @reviews.size %>
      <button class="next-btn pull-right">
        <%= i + 1%> of <%= @reviews.size  %> <i class="fa fa-arrow-right fa-5x"></i>
      </button>
    <% end %>

    <% if i != 0 %>
      <button class="prev-btn pull-left">  <i class="fa fa-arrow-left fa-5x"></i> </button>
    <% end %>
  <% end %>

      </div>
    <% end %>
    <% end %>
  </div>
</div>


