<h1 id="movie-title">
  <%= @movie.title %>
</h1>
<p>
  Vegan Movie Critic Rating : <%=  @movie.rating %>
</p>
<p>
  User Rating: <%= @movie.user_rating  %>
</p>



<% @movie.reviews.each do |review| %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-background">
          <div class="card-title">
            <h3>
              <%= review.title %>
            </h3>
          </div>
          <div class="card-content">
            <p>
              <%= review.content %>
            </p>
          </div>
          <div class="card-rating">
          <%= review.user_rating  %>
          <%= render "review_rating/create_review_rating_form" %>
          <% else %>
            <%=   %>
          <% end %>
          </div>
          <div class="card-btns">
            <% if policy(review).update? %>
            <%= link_to 'Edit Review', edit_movie_review_path(@movie, review), class: "btn btn-primary"  %>
            <% end %>
            <% if policy(review).destroy? %>
            <%= link_to 'Delete', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<br>
<br>

<% if policy(Review.new).create? %>
<%= link_to 'Add Review', new_movie_review_path(@movie), class: "btn bn-primary" %>
<% end %>

<%= link_to 'Back to Movies', movies_path, class: "btn btn-primary" %>
