
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(245, 245, 245, 0) 0%, rgba(132, 138, 142, 0.7) 50%), url(<%= image_path("background2.jpg")%>);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="home-content">
          <h3 class="home-title">
           Being Vegan and Watching Movies
         </h3>
         <p class="home-story">
           Veganism isn’t just about refusing to eat animal products, it’s about eating a diet of produce which is good for us and the environment. Valueing our world and the things we create can makes us healthier, wiser and happier. Movies help us grow in similar ways. Here is where movie lovers come together. Here is where we celebrate great movies.
         </p>
         <div class="row">
           <div class="home-btns">
            <div class="col-xs-4">
            <%= link_to "Whats New?", movies_newest_path, class: "btn btn-home vegan-btn" %>
            </div>
            <div class="col-xs-4">
              <%= link_to "2016 Top 10", movies_2016_path, class: "btn btn-home vegan-btn" %>
            </div>
            <div class="col-xs-4">
              <%= link_to "Archive", movies_path, class: "btn btn-home vegan-btn" %>
            </div>
            <div class="col-xs-12">
              <%= link_to "Review", new_movie_path, class: "btn btn-home vegan-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

