<div class="container-fluid" style="background: url('<%= @movie.imdb_poster ? @movie.imdb_poster : @movie.poster %>'); repeat: no-repeat; background-size: cover;">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-xs-12 text-center">
      <div class="movie-title grey-background">
        <h1>
         <%= @movie.title %>
       </h1>
     </div>
   </div>
   <div class="col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="review-form">
      <%= form_for ([@movie, @review]) do |f| %>
      <div id="review_title-error" style="color: red;">
      </div>
      <div class="title-form">
        <%= f.text_area :title, placeholder: "Title", class: "form-control input-lg edit-input title-form top-margin" %>
      </div>
      <div class="content-form ">
        <%= f.text_area :content, placeholder: "Your review", class: "size-it", id: 'text-edit' %>
        <div style="display: none;">
          <%= f.select :rating, [0,1,2,3,4,5,6,7,8,9,10], class: 'rating-change' %>
        </div>
      </div>
      <div class="grey-background">
        <div class="word-counter">
          <div class='current-word-count'></div>
        </div>
        <div class="word-counter-error" style="color: red;"></div>
        <div class="row text-center">
          <div class="artwork-form">
            <span class="btn btn-success fileinput-button">
              <span>Add artwork</span>
              <%= f.file_field :artwork, class: "text-center", id: 'artwork-input' %>
              <%=  f.hidden_field :artwork_cache %>
            </span>
            <span id="selected-artwork"></span>
          </div>
            <div class="star-rating-rev-new">
              <%= render 'shared/starrating-review-new'  %>
            </div>
          <%= f.submit "Publish review", class: "btn vegan-btn btn-save"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

