<div class="container-fluid"
   <% if review.artwork.url %>
  style="padding-top: 20px; background-image: linear-gradient(27deg, #D3D0CD 10%, rgba(150,150,150,0.7) 41%, rgba(  0,0,0,0.25) 100%), url('<%= cl_image_path review.artwork, height: 300, width: 400, crop: :fill %>'); background-size: cover;">
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-sm-5 text-right hidden-xs">
      <%= image_tag "#{review.movie.poster}", class: "poster-info-box "  %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="card-info text-left grey-background" style="line-height: 14px;">
        <h2 style="margin-top: 0%;">
          <%= review.movie.title  %>
          </h2>
          <p>
          <%= review.movie.released %>
          </p>
        <% if review.movie.director  %>
        <p>
         <strong> Director </strong> <%= review.movie.director %>
        </p>
        <% end %>
        <p>
        <%= review.movie.genre %>
        </p>
        <strong>
        Actors
        </strong>
        <%= review.movie.actors %>
        <p>
        <%= review.movie.country %>
        </p>
        <%= review.movie.language %>
        <p>
        <%= review.movie.awards %>
        </p>
       <strong> Vegan movie critic Rating </strong>
        <%= review.movie.rating.to_f / 2 %> <div class="fa fa-star green-star"></div>
      </div>
      <br>
      <%= review.movie.plot %>
    </div>


    <div class="col-xs-12 text-center">

      <div class="card-content-container">
        <div class="review-content">
          <div class="grey-background">
          <h3>
            <%= review.title %>
            <blockquote style="font-size: 13px;"> by <%= review.user.profile.try(:username)  %> </blockquote>
          </h3>
          <strong> User rating </strong> <%= review.rating.to_f / 2 %> <div class="fa fa-star green-star"></div>
          <p>
          <%=raw review.content %>
            <br>
            Reviewed on
            <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
            <% if review.user.username %>
            By <%= review.user.username   %>
            <% end %>
          </p>
          <br>
        </div>
      </div>
    </div>


      <div class="col-xs-12">
        <div class="card-btns center-block">
          <% if policy(review).update? %>
            <%= link_to 'Edit Review', edit_movie_review_path(review.movie, review), class: "btn vegan-btn"  %>
          <% end %>
          <% if policy(review).destroy? %>
            <%= link_to 'Delete', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
          <% end %>

          <% if review.movie.reviews.count > 1 %>
            <%= link_to 'More Reviews', movie_path(review.movie), class: "btn vegan-btn" %>
          <% end %>
          <% unless review.movie.has_reviewed?(current_user) %>
            <%= link_to 'Add a review', new_movie_review_path(review.movie), class: "btn vegan-btn" %>
          <% end %>
        </div>
      </div>
  </div>
  <% if @reviews && @reviews.size > 1 %>
  <% if i + 1 != @reviews.size %>
  <button class="next-btn pull-right">
    <%= i + 1%> of <%= @reviews.size  %> <i class="fa fa-arrow-right fa-5x"></i>
  </button>
  <% end %>

  <% if i != 0 %>
  <button class="prev-btn pull-left">  <i class="fa fa-arrow-left fa-5x"></i> </button>
  <% end %>
  <% end %>
</div>
</div>


