<div class="container-fluid"
   <% if review.artwork.url %>
  style="padding-top: 20px; background-image: linear-gradient(27deg, #D3D0CD 10%, rgba(150,150,150,0.7) 41%, rgba(  0,0,0,0.25) 100%), url('<%= cl_image_path review.artwork, height: 300, width: 400, crop: :fill %>'); background-size: cover;">
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="movie-card">
        <div class="movie-card-top grey-background-transparent">
          <div class="movie-img">
            <% imdb_poster = review.movie.imdb_poster %>
            <%= image_tag (imdb_poster ? imdb_poster : review.movie.poster.try(:url)), class: "max-image-size"   %>
          </div>
          <div class="movie-content">
            <div class="movie-title-section" style="height: 20%;">
              <h1 style="margin-left: 0%;">
                <%= review.movie.title %>
              </h1>
              <p>
              <%= review.movie.released %>
              </p>
            </div>
            <div class="movie-list-content">
              <% review.movie.presentable_attributes.each do |key, value| %>
                <p class="movie-list-data">
                  <strong>
                    <%= key.capitalize %>
                  </strong>
                  <span><%= " " + value %></span>
                </p>
              <% end %>
            </div>

              <p class="movie-list-data" style="height: 20%;">
                <strong>
                  Vegan movie critic rating
                </strong>
                <span>
                  <%= review.movie.rating.to_f / 2 %>
                </span>
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">

      <div class="card-content-container">
        <div class="review-content grey-background-transparent">

          <h3>
            <%= review.title %>
            <blockquote style="font-size: 13px;"> by <%= review.user.profile.try(:username)  %> </blockquote>
          </h3>
          <strong> Movie rating </strong> <%= review.rating.to_f / 2 %> <div class="fa fa-star green-star"></div>
          <p>
          <%=raw review.content %>
            <br>
            <small>
              Reviewed on
              <%= review.created_at.strftime('%A, %d %b %Y %l:%M %p') %>
              <% if review.user.username %>
              By <%= review.user.username   %>
              <% end %>
            </small>
            <p>
              <small>
                <% if review.review_rating %>
                Users rate this review: <%= review.review_rating %> <i class="fa fa-star green-star"></i>
                <% end %>
              </small>
            </p>
          </p>
          <br>

      </div>
    </div>


    <div class="col-xs-12">
      <div class="card-btns center-block">
        <% if policy(review).update? %>
          <%= link_to 'Edit Review', edit_movie_review_path(review.movie, review), class: "btn vegan-btn"  %>
        <% end %>
        <% if policy(review).destroy? %>
          <%= link_to 'Delete', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn vegan-btn" %>
        <% end %>

        <% if review.movie.reviews.count > 1 %>
          <%= link_to 'More Reviews', movie_path(review.movie), class: "btn vegan-btn" %>
        <% end %>
        <% unless review.movie.has_reviewed?(current_user) %>
          <%= link_to 'Add a review', new_movie_review_path(review.movie), class: "btn vegan-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <% if @reviews && @reviews.size > 1 %>
  <% if i + 1 != @reviews.size %>
  <button class="next-btn pull-right grey-background-transparent">
    <%= i + 1%> of <%= @reviews.size  %> <i class="fa fa-arrow-right fa-5x"></i>
  </button>
  <% end %>

  <% if i != 0 %>
  <button class="prev-btn pull-left grey-background-transparent">  <i class="fa fa-arrow-left fa-5x"></i> </button>
  <% end %>
  <% end %>

</div>
