<div class="container">
  <div class="row">
    <div class="col-sm-3 hidden-xs">

    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="review-form">
        <%= form_for ([@movie, @review]) do |f| %>
        <p> Title</p>
        <div class="title-form">
          <%= f.text_area :title, class: "form-control input-lg edit-input title-form" %>
        </div>

        <p> Leave your review here </p>
        <div class="content-form ">
          <%= f.bootsy_area :content, class: "size-it" %>
        </div>
        <div style="margin-top: 20px;">
          <%= f.label :rating %>
          <%= f.select :rating, [0,1,2,3,4,5] %>

          <%= f.submit %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
