<div class="container">
  <div class="row">

    <div class="col-xs-3 hidden-xs hidden-sm">
      <div class="movie-poster">
        <%= image_tag "#{@movie.poster}", class: "movie-poster"  %>
      </div>
    </div>

    <div class="col-xs-3" style="">
      <div class="review-form">
        <%= form_for ([@movie, @review]) do |f| %>
        <p> Title your review!</p>
        <div class="title-form">
          <%= f.text_area :title, class: "title-form" %>
        </div>

        <p> Leave your review here </p>
        <div class="content-form ">
          <%= f.text_area :content, class: "content-form" %>
        </div>
        <%= f.label :rating %>
        <%= f.select :rating, [0,1,2,3,4,5] %>

        <%= f.submit %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-3 hidden-sm pull-right hidden-xs">
      <div class="movie-details">
        <div class="movie-title">
          <h1>
            <%= @movie.title  %>
          </h1>
        </div>
        <div class="movie-info-box">
          <%= @movie.plot  %>
          <br>
          <%= @movie.runtime  %>
          <br>
          <%= @movie.actors  %>
          <br>
          <%= @movie.awards  %>
        </div>
      </div>
    </div>

  </div>
</div>




